netflixcyoa-firebase-adminsdk-1a3hr-79f3ce291f.json
/Netflix_Unity/Library/

/[Ll]ibrary/
/Netflix_Unity//[Tt]emp/
/Netflix_Unity/[Oo]bj/
/Netflix_Unity/[Bb]uild/
/Netflix_Unity/[Bb]uilds/
/Netflix_Unity/[Ll]ogs/
/Netflix_Unity/[Uu]ser[Ss]ettings/

/Netflix_Unity/Library/
/Netflix_Unity/Temp/
/Netflix_Unity/Obj/
/Netflix_Unity/Build/
/Netflix_Unity/Builds/
/Netflix_Unity/Logs/
/Netflix_Unity/User[Ss]ettings/
/Netflix_Unity/Assets/Firebase
netflixcyoa-firebase-adminsdk-1a3hr-79f3ce291f.json
